services:
  db_server:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ my_secret_db_pass }}
      MYSQL_DATABASE: wordpress_db
      MYSQL_USER: wp_admin
      MYSQL_PASSWORD: {{ my_secret_db_pass }}
    volumes:
      - db_data:/var/lib/mysql

  wp_app:
    image: wordpress:latest
    restart: always
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_HOST: db_server:3306
      WORDPRESS_DB_USER: wp_admin
      WORDPRESS_DB_PASSWORD: {{ my_secret_db_pass }}
      WORDPRESS_DB_NAME: wordpress_db
    depends_on:
      - db_server

volumes:
  db_data:
